ssh/.ssh/id_dsa
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa.pub
ssh/.ssh/id_rsa.pub
ssh/.ssh/github_rsa
ssh/.ssh/github_rsa.pub
ssh/.ssh/known_hosts
emacs/.emacs.d/elpa
emacs/.emacs.d/ido.last
emacs/.emacs.d/history
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/snippets
emacs/.emacs.d/network-security.data
emacs/.emacs.d/tramp
emacs/.emacs.d/abbrev_defs
emacs/.emacs.d/recentf
emacs/.emacs.d/.smex-items
